.html
{
	background-color: #2C2C2C;
}

#page
{
	z-index: 1;
	width: 1138px;
	min-height: 1419px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #161616;
	background-color: #1D1D1D;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 30px 32px;
}

#pu237
{
	width: 0.01px;
	position: relative;
}

#u237
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
}

#menuu70
{
	z-index: 4;
	width: 630px;
	margin-right: -10000px;
	left: 507px;
}

#u116
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
}

#u117
{
	width: 124px;
	padding-bottom: 103px;
}

#u117:hover
{
	margin: 0px;
}

#u117:active
{
	margin: 0px;
}

#u119-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u117:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 126px;
}

#u145
{
	width: 124px;
	padding-bottom: 103px;
}

#u117.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u147-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117.MuseMenuActive #u119-4,#u145:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 252px;
}

#u158
{
	width: 124px;
	padding-bottom: 103px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u159-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u145.MuseMenuActive #u147-4,#u158:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 378px;
}

#u171
{
	width: 125px;
	padding-bottom: 103px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u173-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u158.MuseMenuActive #u159-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u432
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 505px;
}

#u433
{
	width: 125px;
	padding-bottom: 103px;
}

#u171.MuseMenuActive,#u433:hover
{
	margin: 0px;
}

#u433:active
{
	margin: 0px;
}

#u433.MuseMenuActive
{
	margin: 0px;
}

#u435-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u171.MuseMenuActive #u173-4,#u433:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433.MuseMenuActive #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u202-5
{
	z-index: 35;
	width: 199px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 160px;
}

#u204-4
{
	z-index: 40;
	width: 199px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 160px;
}

#u212
{
	z-index: 48;
	width: 1138px;
	height: 3px;
	top: -2px;
	margin-bottom: -2px;
}

#pu686-4
{
	width: 0.01px;
	margin-left: 359px;
	margin-top: 79px;
	position: relative;
}

#u686-4
{
	z-index: 62;
	width: 419px;
	min-height: 54px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 59px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u687
{
	z-index: 66;
	width: 185px;
	height: 3px;
	border-color: #000000;
	background-color: #FF005D;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 117px;
}

#pamphletu917
{
	z-index: 67;
	width: 0.01px;
	height: 45px;
	padding-bottom: 813px;
	left: -1px;
	margin-top: 88px;
	position: relative;
}

#u925
{
	position: absolute;
	width: 1139px;
	top: 62px;
}

#u925popup
{
	z-index: 68;
}

#u936
{
	z-index: 69;
	width: 1139px;
	height: 795px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1519
{
	z-index: 70;
	width: 0.01px;
	height: 738px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 2px;
}

#u1552popup
{
	z-index: 71;
}

#u1578
{
	z-index: 72;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1601
{
	z-index: 74;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1587
{
	z-index: 76;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1587_img
{
	padding: 50px 94px;
}

#u1520popup
{
	z-index: 78;
}

#u1581
{
	z-index: 79;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
}

#u1581:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1604
{
	z-index: 81;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u1581.SSSlideLinkSelected,#u1604:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1590
{
	z-index: 83;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u1604.SSSlideLinkSelected,#u1590:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1549-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 18px;
	background: transparent url("../images/left_icon.png") no-repeat left top;
}

#u1549-3popup
{
	z-index: 85;
}

#u1561-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 1060px;
	background: transparent url("../images/right_icon.png") no-repeat left top;
}

#u1561-3popup
{
	z-index: 88;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u969
{
	z-index: 91;
	width: 1139px;
	height: 795px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1428
{
	z-index: 92;
	width: 0.01px;
	height: 738px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 2px;
}

#u1461popup
{
	z-index: 93;
}

#u1487
{
	z-index: 94;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1510
{
	z-index: 96;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1496
{
	z-index: 98;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1429popup
{
	z-index: 100;
}

#u1490
{
	z-index: 101;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
}

#u1590.SSSlideLinkSelected,#u1490:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1513
{
	z-index: 103;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u1490.SSSlideLinkSelected,#u1513:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1499
{
	z-index: 105;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u1513.SSSlideLinkSelected,#u1499:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1458-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 18px;
	background: transparent url("../images/left_icon.png") no-repeat left top;
}

#u1458-3popup
{
	z-index: 107;
}

#u1470-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 1060px;
	background: transparent url("../images/right_icon.png") no-repeat left top;
}

#u1470-3popup
{
	z-index: 110;
}

#u973
{
	z-index: 113;
	width: 1139px;
	height: 795px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1292
{
	z-index: 114;
	width: 0.01px;
	height: 738px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 2px;
}

#u1552,#u1461,#u1295
{
	position: absolute;
	width: 1137px;
	height: 545px;
	background-color: transparent;
}

#u1295popup
{
	z-index: 115;
}

#u1356
{
	z-index: 116;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1365
{
	z-index: 118;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1374
{
	z-index: 120;
	width: 1137px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1578_img,#u1601_img,#u1487_img,#u1510_img,#u1496_img,#u1356_img,#u1365_img,#u1374_img
{
	padding: 48px 89px;
}

#u1520,#u1429,#u1304
{
	position: absolute;
	width: 953px;
	top: 504px;
	left: 92px;
}

#u1304popup
{
	z-index: 122;
}

#u1359
{
	z-index: 123;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
}

#u1499.SSSlideLinkSelected,#u1359:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1368
{
	z-index: 125;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u1359.SSSlideLinkSelected,#u1368:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1377
{
	z-index: 127;
	width: 311px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u1368.SSSlideLinkSelected,#u1377:hover
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1377.SSSlideLinkSelected
{
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 311px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	border-width: 0px 0px 3px;
}

#u1581_clip,#u1604_clip,#u1590_clip,#u1490_clip,#u1513_clip,#u1499_clip,#u1359_clip,#u1368_clip,#u1377_clip
{
	overflow: hidden;
	width: 311px;
	height: 233px;
}

#u1581_img,#u1604_img,#u1590_img,#u1490_img,#u1513_img,#u1499_img,#u1359_img,#u1368_img,#u1377_img
{
	margin-left: -93px;
	margin-right: -93px;
}

#u1333-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 18px;
	background: transparent url("../images/left_icon.png") no-repeat left top;
}

#u1549-3:hover,#u1458-3:hover,#u1333-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px;
	background: #FF005D url("../images/left_icon.png") no-repeat left top;
}

#u1333-3popup
{
	z-index: 129;
}

#u1334-3
{
	position: absolute;
	width: 57px;
	min-height: 57px;
	border-style: none;
	border-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 244px;
	left: 1060px;
	background: transparent url("../images/right_icon.png") no-repeat left top;
}

#u1561-3:hover,#u1470-3:hover,#u1334-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	margin: 0px;
	background: #FF005D url("../images/right_icon.png") no-repeat left top;
}

#u1334-3popup
{
	z-index: 132;
}

#u945
{
	z-index: 135;
	width: 622px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u950
{
	position: absolute;
	width: 197px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	padding-bottom: 5px;
	top: -17px;
	left: -11px;
}

#u950:hover
{
	background-color: #FF005D;
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u951-4
{
	z-index: 137;
	width: 180px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	font-size: 30px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u950:hover #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u950:active #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u970
{
	position: absolute;
	width: 197px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	padding-bottom: 5px;
	top: -17px;
	left: 210px;
}

#u970:hover
{
	background-color: #FF005D;
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u972-4
{
	z-index: 142;
	width: 180px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	font-size: 30px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u950.PamphletThumbSelected #u951-4,#u970:hover #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u970:active #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u974
{
	position: absolute;
	width: 197px;
	border-width: 3px;
	border-style: solid;
	border-color: #FF005D;
	background-color: transparent;
	padding-bottom: 5px;
	top: -17px;
	left: 431px;
}

#u974:hover
{
	background-color: #FF005D;
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u950.PamphletThumbSelected,#u970.PamphletThumbSelected,#u974.PamphletThumbSelected
{
	border-color: #FF005D;
	background-color: #FF005D;
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u976-4
{
	z-index: 147;
	width: 180px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	font-size: 30px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u970.PamphletThumbSelected #u972-4,#u974:hover #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u974:active #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u974.PamphletThumbSelected #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 14px -10000px 0px 0px;
}

#u950.PamphletThumbSelected #u951-4 p,#u970.PamphletThumbSelected #u972-4 p,#u974.PamphletThumbSelected #u976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 30px;
	line-height: 1.4;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u214
{
	z-index: 49;
	width: 1138px;
	height: 3px;
	margin-top: 144px;
}

#pu248
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u248
{
	z-index: 50;
	width: 16px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u260-4
{
	z-index: 44;
	width: 199px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u253
{
	z-index: 56;
	width: 26px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 483px;
}

#u262-4
{
	z-index: 52;
	width: 131px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 520px;
}

#u274
{
	z-index: 58;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 948px;
}

#u282
{
	z-index: 59;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 995px;
}

#u290
{
	z-index: 60;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1042px;
}

#u298
{
	z-index: 61;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1089px;
}

#u274:hover,#u282:hover,#u290:hover,#u298:hover
{
	margin: 0px -10000px 0px 0px;
}

body
{
	padding-top: 30px;
	padding-bottom: 37px;
}

#page .verticalspacer
{
	clear: both;
}

