.html
{
	background-color: #2C2C2C;
}

#page
{
	z-index: 1;
	width: 1138px;
	min-height: 930px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #161616;
	background-color: #1D1D1D;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 30px 32px;
}

#u237
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
}

#menuu70
{
	z-index: 4;
	width: 630px;
	margin-right: -10000px;
	    left: 635px;
}

#u116
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
}

#u117
{
	width: 124px;
	padding-bottom: 103px;
}

#u117:hover
{
	margin: 0px;
}

#u117:active
{
	margin: 0px;
}

#u119-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u117:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	
}

#u145
{
	width: 124px;
	padding-bottom: 103px;
}

#u117.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u147-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117.MuseMenuActive #u119-4,#u145:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 132px;
}

#u158
{
	width: 124px;
	padding-bottom: 103px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u159-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u145.MuseMenuActive #u147-4,#u158:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 257px;
}
#u1666
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 380px;
}

#u171
{
	width: 125px;
	padding-bottom: 103px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u173-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}
#u1666:active
{
	margin: 0px;
}

#u1666-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u158.MuseMenuActive #u159-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u432
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 505px;
}

#u433
{
	width: 125px;
	padding-bottom: 103px;
}

#u171.MuseMenuActive,#u433:hover
{
	margin: 0px;
}

#u433:active
{
	margin: 0px;
}

#u433.MuseMenuActive
{
	margin: 0px;
}

#u435-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u171.MuseMenuActive #u173-4,#u433:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433.MuseMenuActive #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u202-5
{
	z-index: 35;
	width: 199px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 242px;
	
}

#u204-4
{
	z-index: 40;
	width: 199px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 160px;
	margin-left: 82px;
}

#u212
{
	z-index: 48;
	width: 1138px;
	height: 3px;
	top: -2px;
	margin-bottom: -2px;
}

#u460-4
{
	z-index: 67;
	width: 419px;
	min-height: 54px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 59px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 359px;
	margin-top: 76px;
	position: relative;
}

#u513
{
	z-index: 84;
	width: 140px;
	height: 3px;
	border-color: #000000;
	background-color: #FF005D;
	margin-left: 499px;
	top: -5px;
	margin-bottom: -3px;
	position: relative;
}

#u1614
{
	z-index: 85;
	width: 11px;
	margin-left: 87px;
	margin-top: 74px;
	position: relative;
}

#pu363
{
	width: 0.01px;
	margin-left: 98px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u363
{
	z-index: 82;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#ppu359-5
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#pu237,#pu359-5
{
	width: 0.01px;
	position: relative;
}

#u359-5
{
	z-index: 62;
	width: 359px;
	min-height: 54px;
	color: #FFFFFF;
	font-size: 39px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u359-2
{
	color: #FF005D;
}

#u360-4
{
	z-index: 71;
	width: 359px;
	min-height: 29px;
	color: #7F7F7F;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u361-7
{
	z-index: 75;
	width: 621px;
	min-height: 303px;
	color: #C5C5C5;
	line-height: 1.4;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

#u1619
{
	z-index: 87;
	width: 11px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: 359px;
	position: relative;
}

#u214
{
	z-index: 49;
	width: 1138px;
	height: 3px;
	margin-top: 116px;
}

#pu248
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u248
{
	z-index: 50;
	width: 16px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u260-4
{
	z-index: 44;
	width: 199px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u253
{
	z-index: 56;
	width: 26px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 483px;
}

#u262-4
{
	z-index: 52;
	width: 131px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 520px;
}

#u274
{
	z-index: 58;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 948px;
}

#u282
{
	z-index: 59;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 995px;
}

#u290
{
	z-index: 60;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1042px;
}

#u298
{
	z-index: 61;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1089px;
}

#u274:hover,#u282:hover,#u290:hover,#u298:hover
{
	margin: 0px -10000px 0px 0px;
}

body
{
	padding-top: 30px;
	padding-bottom: 37px;
}

#page .verticalspacer
{
	clear: both;
}

