.html
{
	background-color: #2C2C2C;
}

#page
{
	z-index: 1;
	width: 1138px;
	min-height: 931px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #161616;
	background-color: #1D1D1D;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 30px 32px;
}

#pu237
{
	width: 0.01px;
	position: relative;
}

#u237
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
}

#menuu70
{
	z-index: 4;
	width: 630px;
	margin-right: -10000px;
    left: 635px;
}

#u116
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
}

#u117
{
	width: 124px;
	padding-bottom: 103px;
}

#u117:hover
{
	margin: 0px;
}

#u117:active
{
	margin: 0px;
}

#u119-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u117:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 126px;
}

#u145
{
	width: 124px;
	padding-bottom: 103px;
}

#u117.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u147-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117.MuseMenuActive #u119-4,#u145:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 252px;
}

#u158
{
	width: 124px;
	padding-bottom: 103px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u159-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u145.MuseMenuActive #u147-4,#u158:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 378px;
}

#u171
{
	width: 125px;
	padding-bottom: 103px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u173-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u158.MuseMenuActive #u159-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u432
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 505px;
}

#u433
{
	width: 125px;
	padding-bottom: 103px;
}

#u171.MuseMenuActive,#u433:hover
{
	margin: 0px;
}

#u433:active
{
	margin: 0px;
}

#u433.MuseMenuActive
{
	margin: 0px;
}

#u435-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u171.MuseMenuActive #u173-4,#u433:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433.MuseMenuActive #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u202-5
{
	z-index: 35;
	width: 199px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 32px;
 left: 242px;
}

#u204-4
{
	z-index: 40;
	width: 199px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 160px;
	margin-left: 82px;
}

#u212
{
	z-index: 48;
	width: 1138px;
	height: 3px;
	top: -2px;
	margin-bottom: -2px;
}

#u522-4
{
	z-index: 105;
	width: 419px;
	min-height: 54px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 59px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 359px;
	margin-top: 77px;
	position: relative;
}

#u523
{
	z-index: 109;
	width: 166px;
	height: 3px;
	border-color: #000000;
	background-color: #FF005D;
	margin-left: 486px;
	top: -5px;
	margin-bottom: -3px;
	position: relative;
}

#pu373
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 89px;
	position: relative;
}

#u373
{
	z-index: 89;
	width: 193px;
	position: relative;
	margin-right: -10000px;
}

#u385
{
	z-index: 91;
	width: 193px;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u390
{
	z-index: 93;
	width: 193px;
	position: relative;
	margin-right: -10000px;
	left: 778px;
}

#u394
{
	z-index: 95;
	width: 167px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 207px;
}

#u402
{
	z-index: 97;
	width: 167px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 596px;
}

#u405
{
	z-index: 99;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 68px;
}

#u410
{
	z-index: 101;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 461px;
}

#u415
{
	z-index: 103;
	width: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 849px;
}

#pu370-5
{
	width: 0.01px;
	margin-top: 44px;
	position: relative;
}

#u370-5
{
	z-index: 62;
	width: 359px;
	min-height: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: 32px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u383-5
{
	z-index: 67;
	width: 359px;
	min-height: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: 32px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u388-5
{
	z-index: 72;
	width: 359px;
	min-height: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: 32px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 778px;
}

#u370,#u383,#u388
{
	color: #FF005D;
}

#pu371-4
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 10px;
	position: relative;
}

#u371-4
{
	z-index: 77;
	width: 291px;
	min-height: 106px;
	text-align: center;
	line-height: 1.35;
	color: #C5C5C5;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u384-4
{
	z-index: 81;
	width: 291px;
	min-height: 106px;
	text-align: center;
	line-height: 1.35;
	color: #C5C5C5;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u389-4
{
	z-index: 85;
	width: 291px;
	min-height: 106px;
	text-align: center;
	line-height: 1.35;
	color: #C5C5C5;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 778px;
}

#u214
{
	z-index: 49;
	width: 1138px;
	height: 3px;
	margin-top: 124px;
}

#u23333
{
	z-index: 49;
	width: 1138px;
	height: 3px;
	margin-top: 1700px;
}

#pu248
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u248
{
	z-index: 50;
	width: 16px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u260-4
{
	z-index: 44;
	width: 199px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u253
{
	z-index: 56;
	width: 26px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 483px;
}

#u262-4
{
	z-index: 52;
	width: 131px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 520px;
}

#u274
{
	z-index: 58;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 948px;
}

#u282
{
	z-index: 59;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 995px;
}

#u290
{
	z-index: 60;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1042px;
}

#u298
{
	z-index: 61;
	width: 47px;
	height: 47px;
	margin-right: -10000px;
	left: 1089px;
}

#u274:hover,#u282:hover,#u290:hover,#u298:hover
{
	margin: 0px -10000px 0px 0px;
}

body
{
	padding-top: 30px;
	padding-bottom: 37px;
}

#page .verticalspacer
{
	clear: both;
}

